 <!DOCTYPE html>
 <html lang="en" dir="ltr">
   <head>
     <meta charset="utf-8">
     <title>Node.js Examples Initiative Challenge</title>
   </head>
   <body>
    <ul>
         <li>bent -  {{pjson.dependencies.bent}}</li>
         <li>express - {{pjson.dependencies.express}}</li>
         <li>hbs - {{pjson.dependencies.hbs}}</li>
         <li>semver - {{pjson.dependencies.semver}}</li>
     </ul>
   </body>
 </html>