 <!DOCTYPE html>
 <html lang="en" dir="ltr">
   <head>
     <meta charset="utf-8">
     <title>Nodejs Challenge - Solution</title>
   </head>
   <body>
      <ul>
          {{#each dependencies}} 
            <li>{{@key}} - {{this}} </li> 
          {{/each}}
      </ul>
   </body>
 </html>